{% extends 'base.html' %} {% block content %}

<main class="px-3">
  <div class="d-flex justify-content-between">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img class="img-fluid" src="{{poster}}" alt="" />
    </div>
    <div class="d-flex flex-column justify-content-around">
      <h1 class="">{{title}}</h1>
      <p class="lead">{{description}}</p>
      <form method="POST">
        <button
          type="submit"
          name="add_favorite"
          class="w-80 mb-2 btn btn-lg rounded-3 btn-primary"
        >
          Add to Favorites
        </button>
      </form>
      <div class="d-flex justify-content-around align-items-center">
        <small class="">{{genre}}</small>
        <small class="">{{release}}</small>
        <small class="">{{duration}}m</small>
      </div>
    </div>
  </div>
</main>

{% endblock %}
