{% extends "base.html" %} {% block content %}
<div
  class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow bg-dark">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign up for free</h1>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="" method="POST">
          {{form.hidden_tag()}}
          <div>
            {{form.username(class='form-control rounded-3 mb-3',
            placeholder='Username')}}
          </div>
          <div>
            {{form.password(class='form-control rounded-3 mb-3',
            placeholder='Password')}}
          </div>
          <div>
            {{form.pass_confirm(class='form-control rounded-3 mb-3',
            placeholder='Comfirm Password')}}
          </div>
          <div>
            {{form.submit(class="w-100 mb-2 btn btn-lg rounded-3 btn-primary")}}
          </div>
          <small>By clicking Register, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
